@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&family=Sacramento&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted           : 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover           : 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card           : 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%; */

    --border: 214.3 31.8% 91.4%;
    --input : 214.3 31.8% 91.4%;

    --primary           : 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary           : 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent           : 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive           : 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
      /* --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted           : 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover           : 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card           : 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%; */

    --border: 217.2 32.6% 17.5%;
    --input : 217.2 32.6% 17.5%;

    --primary           : 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary           : 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent           : 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive           : 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }

    /* For Webkit browsers like Chrome and Safari */
  .dropdown-content::-webkit-scrollbar {
    width: 12px;  /* width of the entire scrollbar */
  }

  .dropdown-content::-webkit-scrollbar-track {
    background: transparent;  /* color of the tracking area */
  }

  .dropdown-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);     /* color of the scroll thumb */
    border-radius   : 6px;                    /* roundness of the scroll thumb */
    border          : 3px solid transparent;  /* creates padding around scroll thumb */
  }

  /* For Firefox */
  .dropdown-content {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
    text-rendering : optimizeLegibility;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.heartbeat {
  animation: heartbeat 1.5s infinite;
}


/* Custom css for nav */
.link-underline {
  position: relative;
  display : inline-block;
}


/* Hover nav for dark ------------------------------------------------- */
.dark .link-underline::after {
  content: '';

  display   : block;
  position  : absolute;
  visibility: hidden;
  background: #171923;

  width : 0;
  height: 2px;

  right: 0;

  transition: all 0.3s ease-in-out;
  background: linear-gradient(transparent, transparent), linear-gradient(to right, #6acdff, #57bfff);  /* Sky blue shades */
}

.dark .link-underline:hover::after {
  visibility: visible;

  width: 100%;

  left: 0;

  background: linear-gradient(transparent, transparent), linear-gradient(to right, #6acdff, #57bfff);  /* Sky blue shades */
}

.link-underline2 {
  position: relative;
  display : inline-block;
}

/* Hover nav for light -------------------------------------------------  */
.link-underline2::after {
  content: '';

  display   : block;
  position  : absolute;
  visibility: hidden;
  background: #171923;

  width : 0;
  height: 2px;

  right: 0;

  transition: all 0.3s ease-in-out;
  background: linear-gradient(transparent, transparent), linear-gradient(to right, #d87787, #861657);  /* New provided colors */
}

.link-underline2:hover::after {
  visibility: visible;

  width: 100%;

  left: 0;

  background: linear-gradient(transparent, transparent), linear-gradient(to right, #d87787, #861657);  /* New provided colors */
}